/* ルートページ全体のレイアウトを定義するCSS */
.layout{
  height:100vh;

  display:grid;

  grid-template-columns: 1fr 100px;
  grid-template-rows: 2fr 1fr;

  grid-template-areas:
    "ward button"
    "stock button";
}

/* 病棟エリア */
.ward{
  grid-area: ward;
  background:#eef6ff;

  border-right:1px solid #888;
  border-bottom:1px solid #888;
  padding:10px;
  overflow:auto;
}

/* ストックエリア */
.stock{
  grid-area: stock;
  background:#fff7e6;

  border-right:1px solid #888;
  padding:10px;
  overflow:auto;
}

/* ボタンエリア */
.button{
  grid-area: button;
  background:#f0f0f0;

  border-left:0px solid #888;
  padding:10px;
  overflow-y:auto;
}