/* ルートページ全体のレイアウトを定義するCSS */
.layout{
  height:100vh;
  display:grid;

  grid-template-columns: 1fr 100px;
  /* grid-template-rows: 2fr 1fr; */

  /* rowsはJSで制御する */
  /*driverは画面を分割するためのバーを指す */
  grid-template-areas:
    "ward button"
    "divider button"
    "stock button";
}
.divider {
  grid-area: divider;
}
/* 病棟エリア */
.ward{
  grid-area: ward;
  background:#eef6ff;

  border-right:1px solid #888;
  border-bottom:1px solid #888;
  padding:10px;
  overflow:auto;
}

/* ストックエリア */
.stock{
  grid-area: stock;
  background:#fff7e6;

  border-right:1px solid #888;
  padding:10px;
  overflow:auto;

}

/* ボタンエリア */
.button{
  grid-area: button;
  background:#f0f0f0;

  border-left:0px solid #888;
  padding:10px;
  overflow-y:auto;
}

/* ドラッグ専用レイヤー */
.dragLayer{
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 10000;
}

/* ドラッグ中はテキスト選択を無効にするためのクラス  */
.dragging {
  user-select: none;
  cursor: grabbing;
}